<!DOCTYPE html>
<html>
    <head th:replace="fragments :: head">
    </head>
    <body>
        <div th:replace="fragments :: header"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 form-box">
                    <div class="form-top">
                        <h2>
                            Preencha os campos de cadastro:
                        </h2>
                    </div>
                    <div class="form-bottom">
                        <form class="login-form" th:action="@{/cadastro/salvar}" th:object="${perfil}" method="POST">
                            <div class="form-group">
                                <label class="sr-only" for="email">E-mail</label>
                                <input type="text" th:field="*{email}" class="form-username form-control" placeholder="exemplo@exemplo.com">
                                </input>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="senha">Senha</label>
                                <input type="password" th:field="*{senha}" class="form-username form-control" placeholder="senha">
                                </input>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="confirmarSenha">Confirmar senha</label>
                                <input type="password" th:field="*{confirmarSenha}" class="form-username form-control" placeholder="confirmar a senha">
                                </input>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="nome">Nome e Sobrenome</label>
                                <input type="text" th:field="*{nome}" class="form-username form-control" placeholder="nome e sobrenome">
                                </input>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="dataNascimento">Data de Nascimento</label>
                                <input type="text" th:field="*{dataNascimento}" class="form-username form-control" placeholder="yyyy/dd/mm">
                                </input>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="sexo">Sexo</label>
                                <input type="text" th:field="*{sexo}" class="form-username form-control" placeholder="masculino, feminino, outro">
                                </input>
                            </div>
                            <a th:href="@{/login}">
                                <input type="button" class="btn btn-info" value="Fazer Login"></input>
                            </a>  
                            <input type="submit" class="btn btn-success" value="Realizar Cadastro"></input>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
