<head th:fragment="head">
    <title>TheFacebook</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
</head>

<body>
    <div class="navbar navbar-inverse" th:fragment="header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TheFacebook</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">   
                    <li sec:authorize="hasRole('ROLE_USER')">
                        <a th:href="@{/home}">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_USER')">
                        <a th:href="@{/amigos}">
                            <i class="fa fa-users"></i>
                            <span>Amizades</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="!hasRole('ROLE_USER')">
                        <a th:href="@{/cadastro}">
                            <i class="fa fa-sign-in"></i>
                            <span>Cadastre-se!</span>
                        </a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_USER')">
                        <a href="/notifications">
                            <i class="fa fa-globe"></i>
                            <span id="notificacao" class="label label-danger"></span>
                        </a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_USER')">
                        <a href="/profile/me">
                            <span sec:authentication="principal.nome"></span>
                        </a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_USER')">
                        <a th:href="@{/logout}">
                            <i class="fa fa-sign-out"></i>
                            <span>Sair</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <script th:src="@{js/jquery/jquery-3.0.0.min.js}"></script>
        <script th:src="@{/js/custom/notificacoes.js}"></script>
    </div>
</body>

