<!DOCTYPE html>

<html ng-app="home">
    <head th:replace="fragments :: head">
    </head>
    <body>
        <div th:replace="fragments :: header"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 form-box">
                    <form id="frmPosts" class="login-form" th:action="@{/publicacao/save}" th:object="${publicacaoDTO}" method="POST">
                        <div class="form-group">
                            <label class="sr-only" for="tpPublicacao">E-mail</label>
                            <textarea name="tpPublicacao" th:field="*{tpPublicacao}" class="ckeditor form-username form-control">
                            </textarea>
                        </div>
                        <input class="btn btn-info" type="submit" value="Postar"></input>
                    </form>
                </div>
                
                <div class="row" ng-controller="PublicacaoController as home">
                    <div id="publicacoes" class="col-sm-8">
                        <div ng-repeat="publicacao in home.publicacoes" >
                            <div class="panel panel-default" >
                                <div class="panel-heading"> 
                                    <div ng-bind="formatDate(publicacao.dtPublicacao) | date:'dd/MM/yyyy - h:mma'"></div> {{publicacao.idPerfil.idPessoa.nmPessoa}}
                                </div>
                                <div class="panel-body">
                                    <div ng-bind-html-unsafe="publicacao.tpPublicacao"></div>
                                    <button class="btn btn-success"> 
                                        <i class="fa fa-thumbs-up"></i> {{publicacao.publicacaolikeCollection.length}} 
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{js/angular/angular.min.js}"></script>
        <script th:src="@{js/jquery/jquery-3.0.0.min.js}"></script>
        <script th:src="@{/js/custom/publicacoes.js}"></script>
        <script th:src="@{/js/ckeditor/ckeditor.js}"></script>
    </body>
</html>
