<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="fragments :: head">
    </head>
    <body>
        <div th:replace="fragments :: header"></div>
        <div class="container">
            <div class="row">
                <div th:each="sol : ${solicitacoes}">
                    <div class="container col-xs-6">
                        <div class="panel panel-default">
                            <div th:id="${sol.idPerfil.idPerfil}" class="panel-heading">
                                <a class="btn" th:href="|/profile?id=${sol.idPerfil.idPerfil}|" th:text="${sol.idPerfil.idPessoa.nmPessoa}"></a><span>quer ser seu amigo!</span>
                            </div>
                        </div>
                        <div class="panel panel-body">
                            <a th:href="|/solicitar/recuse?id=${sol.idPerfil.idPerfil}|" class="btn btn-danger">Recusar</a>
                            <a th:href="|/solicitar/accept?id=${sol.idPerfil.idPerfil}|" class="btn btn-success">Aceitar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
