<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="fragments :: head">
    </head>
    <body>
        <script th:src="@{js/jquery/jquery-3.0.0.min.js}"></script>
        <div th:replace="fragments :: header"></div>
        
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 panel">
                    <div class="panel-heading">
                        <h1 th:text="${perfil.idPessoa.nmPessoa}"></h1>
                    </div>
                    <div class="panel-body">
                        <h3>Sexo: <span th:text="${perfil.idPessoa.tpSexoPessoa}"></span></h3>
                        <h3>Data de Nascimento: <span th:text="${perfil.idPessoa.dtNascPessoa}"></span></h3>
                    </div>
                    <div th:if="${perfSol}">
                        <a th:if="${not sol}" class="btn btn-info" href="" id="btnSolicitacao" th:onclick="${'javascript:sendSolicitacao(' + perfil.idPerfil + ')'}">Enviar Solicitação</a>
                        <a th:if="${sol}" class="btn btn-success disabled" href="" id="btnSolicitacao" th:onclick="${'javascript:sendSolicitacao(' + perfil.idPerfil + ')'}">Solicitação Pendente</a>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/js/custom/solicitacoes.js}"></script>
    </body>
</html>
